.game-list {
  margin-top: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  align-items: center;
  max-height: 45vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.img-card {
  position: relative;
  max-width: 365px;
  max-height: 206px;
  box-shadow: var(--card-box-shadow);
  scroll-snap-align: start;
}

.img-card img {
  border-radius: var(--border-radius);
}

.img-card__overlay {
  position: absolute;
  font-size: 0.8rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    45deg,
    rgba(101, 78, 163, 0.75),
    rgba(234, 175, 200, 0.75)
  );
  opacity: 0;
  transition: opacity var(--transition);
  padding: 4px 12px;
}

.img-card__overlay:hover {
  opacity: 1;
}

.img-card__overlay h2 {
  margin: 0 !important;
  padding: 0 !important;
}

.img-card__overlay a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .game-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5em;
    row-gap: 0.5em;
    justify-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .game-list {
    grid-template-columns: repeat(4, 1fr);
    padding: 3em;
    max-height: 45vh;
  }
}
